<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Emotion Player</title>
    <script defer src="{{ url_for('static', filename="js/face-api.min.js") }}"></script>
    <script defer src="{{ url_for('static', filename="js/script.js") }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <style>
      
      
    </style>
  </head>
  <body>
    <div id="captureButton" style="display: none">
      <button class="glow-on-hover" onclick="captureEmotion()">How Am I Feeling?</button>
    </div>
    <div id="allFnsDiv" style="display: flex; flex-direction: column;">
      <div id="videoElement" style="display: none">
        <video id="video" width="720" height="560" autoplay muted></video>
      </div>
      <div id="emoRespDiv" style="display: none;">
        <span id="emoResp"></span>
        <button onclick="retry()">Recapture Mood</button>
        <button onclick="showGenre()">Correct!!</button>
      </div>
      <div id="genre" style="display: none;">
        <div>Select the Genre</div>
        <select name="genre" onchange="genreSelected(event)">
          <option value="" selected>Select</option>
          <option value="electronic">Electronic</option>
          <option value="hiphop">Hip hop</option>
          <option value="rock">Rock</option>
          <option value="pop">Pop</option>
          <option value="ambient">Ambient</option>
          <option value="jazz">Jazz</option>
        </select>
      </div>
      <div id="sendBack" style="display: none;">
        <button onclick="sendToBackend()">Play Music</button>
      </div>
      <div id="player" style="display: none;">
          <button id="prev" class="action-btn">
            <i class="fas fa-backward"></i>
          </button>
          <button id="play" class="action-btn action-btn-big">
            <i class="fas fa-play"></i>
          </button>
          <button id="next" class="action-btn">
            <i class="fas fa-forward"></i>
          </button>
      </div>
    </div>
    <div id="initialSpinner">
      <div><i class="fas fa-dharmachakra fa-spin" style="font-size: 100px;"></i>
    </div>
  </div>
  </body>
</html>
