<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Emotion Player</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script> -->
    <script defer src="{{ url_for('static', filename="js/face-api.min.js") }}"></script>
    <script defer src="{{ url_for('static', filename="js/script.js") }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
    <style>
      body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Lato', sans-serif;
        margin: 0;
        background-image: linear-gradient(
          0deg,
          rgb(150, 186, 209) 23.8%,
          rgb(25, 80, 131) 92%
        );
      }

      canvas {
        position: absolute;
      }
      
    </style>
  </head>
  <body>
    <div id="captureButton" style="display: none">
      <button onclick="captureEmotion()">How Am I Feeling?</button>
    </div>
    <div id="videoElement" style="display: none">
      <video id="video" width="720" height="560" autoplay muted></video>
      <div>
        <span id="emoResp"></span>
        <button onclick="retry()">Recapture Mood</button>
        <button onclick="sendToBackend()">Correct!!</button>

        <!-- <div class="music-conatiner">
              <div class="music-info">
                <h4 id="title">Song Title</h4>
                <div class="progress-container">
                  <div class="progress"></div>
                </div>
              </div>
            </div> -->

 
          <button id="prev" class="action-btn">
            <i class="fas fa-backward"></i>
          </button>
          <button id="play" class="action-btn action-btn-big">
            <i class="fas fa-play"></i>
          </button>
          <button id="next" class="action-btn">
            <i class="fas fa-forward"></i>
          </button>
  
      </div>
    </div>
  </body>
</html>
